.sectionInner{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0.5rem;
}
.blogHero{
    background-image: url("/blog-bg.jpg");
    background-repeat: no-repeat;
    color: #FCFCFC;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);

}
.postLink{
    color: inherit;
    text-decoration: none;
}

.postPagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.blogTitle{
    line-height: 0.75;
    margin-top: 0.5rem;
}
.postList{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1rem;
}
.postListLink{
padding-left: 0.25rem;
    padding-right: 0.25rem;
}
@media (min-width: 1024px) {
    .postList{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}