.sectionInner{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0.5rem;
}
.postHead{
    border-style: solid;
    border-bottom-width: 0.5rem;
    border-image: linear-gradient(to right, var(--primary), var(--secondary)) 1;
    margin-bottom: 1rem;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0.5rem 0;
}