.sectionInner{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0.5rem;
}

.Hero {
    background-image: url("/contact-bg.jpg");
    background-repeat: no-repeat;
    color: #FCFCFC;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);

}

.contacts{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1rem;
}

.intro{
    text-align: center;
    font-size: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
}
.contactInfo{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (min-width: 1024px) {
    .contactInfo{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
