.container {
  padding-left: var(--size-gutter-raw);
  padding-right: var(--size-gutter-raw);
  padding-top: var(--space-lg);
  padding-bottom: var(--space-3xl);
  background-image: url("/hero-bg.jpg");
  background-repeat: no-repeat;
  color: #FCFCFC;
  background-size: cover;
  /*max-width: 76ch;*/
  aspect-ratio: 16 /9 ;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.intro {
  padding-bottom: var(--space-lg);
  line-height: var(--dense);
  /*font-size: var(--text-display);*/
}

.callOut {
  padding-bottom: var(--space-lg);
  font-size: var(--text-display);
  font-weight: var(--bold);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: #fcfcfc;
}

.callOut > strong {
  text-decoration: underline;
}

.callToAction {
  font-size: var(--text-prose);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.deployButton {
  margin-top: var(--space-lg);
}
.shopButton{
  border: 0.5rem solid #ffffff;
  color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  margin-top: var(--space-lg);
}
.explainerSection{
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-image: url("/shop-grow-enjoy-bg.jpg");
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-gap: 2rem;

}

.explain1, .explain2, .explain3{
  color: #000000;
  text-align: center;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  background: #fcfcfc;
}


.deliverySection{
  background: #222222;
  color: #fcfcfc;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.deliveryImage{
}
.deliveryDesc{
  padding-left: 1rem;
  padding-right: 1rem;
}

.chooseSection{
}

.sectionInner{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0.5rem;
}

.chooseBenefits{
  display: grid;
  gap: 1rem;
}

.benefit{

}

.testimonialSection{

}
.testimony{

}

.aboutSection{

}

.customSection{
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-color: var(--primary);
  color: var(--text-color-inverted);
}
.productSection{

}
@media (min-width: 640px) {
  .chooseBenefits{
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
    margin-top: 1rem;

  }
}

@media (min-width: 1024px) {
  .chooseBenefits{
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}