.addToCart {
  display: flex;
  flex-direction: row;
  color: var(--text-color-inverted);
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  align-self: flex-end;
  padding: var(--space-sm) var(--space-xl);
  border-radius: var(--radius-md);
  font-weight: var(--bold);
  align-items: center;
  height: var(--size-input);
  justify-content: center;
  transition: var(--transition);
}

.addToCart:hover {
  box-shadow: var(--shadow);
  background: linear-gradient(135deg, var(--secondary), var(--primary));
  transition: all 0.5s;
}

@property --colorPrimary {
  syntax: '<color>';
  initial-value: magenta;
  inherits: false;
}

@property --colorSecondary {
  syntax: '<color>';
  initial-value: green;
  inherits: false;
}
